<a href="{{ product.url }}" class="product-card">
  
  <div class="product-card__image-wrapper">
    {% if product.featured_image %}
      {{
        product.featured_image
        | image_url: width: 800
        | image_tag:
          class: 'product-card__image',
          loading: 'lazy',
          alt: product.title
      }}
    {% endif %}
  </div>

  <div class="product-card__info">

    <h3 class="product-card__title">
      {{ product.title }}
    </h3>

    <div class="product-card__price">
      {{ product.price | money }}
    </div>

  </div>

</a>